
@font-face {
    font-family: Libra Sans Modern;
    src: url(fonts/LibraSansModern.woff);
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}
body {
    font-family: Libra Sans Modern;
    background-color: white;
}
/**/
header nav {
    background-color: #14ba34;
}

nav .show ~ .menu {
    transition: all 0.125s linear;
}

@media only screen and (max-width:560px){
    .vgmapwrapper {
        padding-left: 5%;
        padding-right: 5%;
    }

    #cqlakarta {
        width: 80%;
    }
}

@media only screen and (min-width:560px) and (max-width:800px){
    .vgmapwrapper {
        padding-left: 10%;
        padding-right: 10%;
    }

    #cqlakarta {
        width: 80%;
    }
}

@media only screen and (min-width:800px){
    .vgmapwrapper {
        padding-left: 20%;
        padding-right: 20%;
    }

    #cqlakarta {
        width: 40%;
    }
}

.burger {
    font-size: 1.5em;
    padding: 0;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

/*класове извън picnic.css*/
#gallerySideNavBar button {
    display: none; 
    position: fixed; 
    width: 250px;
    text-align: center;
}

#galleryNavBar {
    width: 100%;
}

.vgmenu, .vgtopscroll {
    background-color: #19fa54;
    color: black;
}

.vgredirect {
    font-size: 24px;
}

.vgstack{
    background-color: #fc1984;
}

.vgbuttonDark{
	background-color: #14ba34;
	color: black;
}

.vgbutton:hover {
    background-color: #f1ff19;
    color: black;
}

nav, .vgbutton, .vgbutton:hover, #top, .kartasnimka {
    box-shadow: 0px 0px 20px -10px, 0px 0px 20px -10px white inset, 0px 0px 1px -1px inset !important;
}

.vgimageheader, .vgimageheaderMap, .vgimageheaderNews {
    display: inline-block;
    width: 100%;
    height: 50vh;
    background-size: cover;
    background-position: 50% 10%;
    z-index: 1;
}

.vgimageheader {
    height: 75vh;
    background-image: url("images/homepage.webp");
}

.vgimageheaderMap {
    background-image: url("images/VeloGabrovoSmall.png");
    background-position: 50% 40%;
}

.vgimageheaderNews {
    background-image: url("images/homepage.webp");
}

.vgheaderwrapper {
    height: 100%;
    line-height: calc(50vh - 32px);
    position: static;
    text-align: center;
    font-size: 64px;
    color: white;
    background-color: #000000bb;
    z-index: 2;
}

.vgmainpage {
    line-height: calc(100vh);
}

@media only screen and (min-height:720px){
    .vgmainpage img {
        margin-top: 64px;
        width: min(600px, 90%);
    }
}

@media only screen and (max-height:720px){
    .vgmainpage img {
        margin-top: 64px;
        width: min(300px, 45%);
    }
}

.vgcentered {
    text-align: center;
}

.vgparagraph {
    margin: auto;
    width: 80%;
    text-align: center;
}

.vgparagraph p {
    font-size: 24px;
}

.vgdiv {
    background-color: #bfbfbf;
	padding-top: 30px;
    padding-bottom: 30px;
}

.vgmapwrapper {
}

.vgdescriptionwrapper  {
    padding: 5%;
    padding-left: 10%;
    padding-right: 10%;
}

/* за footer, не изглежда добре на страницата за новини
.vgfooter {
    float:bottom;
    height: 32px;
    background-color: #404040;
    color: #808080;
}

.vgfooter span {
    font-size: 20px;
    margin-left: 4px;
    margin-right: 4px;
}

.vgfooter a {
    float: right;
    margin-left:4px;
    margin-right:4px;
}
*/

#top{
    z-index:1;
}

.kartasmimka {
}

.kartasnimka:hover{
	z-index: 10001;
}

#cqlakarta {
    display: block;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;

    transition:transform 0.25s ease;
}

.modal_img{
	max-width: 100%;
    margin-left: 0px;
    margin-right: 0px;
	
	transition:transform 0.25s ease;
}

.modal .overlay~*{
    border:0;
    position:fixed;
    top:50%;
    left:50%;
    transform:translateX(-50%) translateY(-50%) scale(0.1, 0.1);
    z-index:1000000;
    transition:all .3s
}

.click-zoom input[type=checkbox] {
	display: none;
}

.click-zoom img {
	transition: transform 0.25s ease;
	cursor: zoom-in;
}

.click-zoom input[type=checkbox]:checked~img {
	transform: scale(2);
	cursor: zoom-out;
}

.gallery {
    margin-top: 50px;
}

div.gallery img {
    max-width: 100%;
    margin-left: 0px;
    margin-right: 0px;
	margin-top: 30px;
}
