@font-face {
    font-family: Onest;
    src: url(fonts/OnestRegular1602-hint.woff);
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}
body {
    font-family: Onest;
}
header nav {
    background-color: #14ba34;
}

nav .show ~ .menu {
    transition: all 0.125s linear;
}

.burger {
    font-size: 1.5em;
    padding: 0;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

/*класове извън picnic.css*/
#gallerySideNavBar button {
    display: none; 
    position: fixed; 
    width: 250px;
    text-align: center;
}

#galleryNavBar {
    width: 100%;
}

.vgmenu, .vgtopscroll {
    background-color: #19fa54;
    color: black;
}

.vgsidescroll {
    background-color: #fc1984;
}

.vgbutton{
}

.vgbuttonDark{
	background-color: #14ba34;
	color: black;
}

.vgbutton:hover {
    background-color: #f1ff19;
    color: black;
}

.vgimageheader, .vgimageheaderMap, .vgimageheaderNews {
    display: inline-block;
    width: 100%;
    height: 50vh;
    background-size: cover;
    background-position: 50% 10%;
    z-index: 1;
}

.vgimageheader {
    height: 75vh;
    background-image: url("images/placeholder.jpg");
}

.vgimageheaderMap {
    background-image: url("images/VeloGabrovoSmall.png");
    background-position: 50% 40%;
}

.vgimageheaderNews {
    background-image: url("images/placeholder.jpg");
}

.vgheaderwrapper {
    height: 100%;
    line-height: calc(50vh - 32px);
    position: static;
    text-align: center;
    font-size: 64px;
    color: white;
    background-color: #000000bb;
    z-index: 2;
}

.vgmainpage {
    line-height: calc(100vh - 32px);
}

.vgmainpage img {
    width:min(600px, 90%);
}

.vgparagraph {
    margin: auto;
    width: 80%;
    text-align: center;
}

.vgparagraph p {
    font-size: 24px;
}

.kartasnimka:hover{
	z-index: 10001;
}

#cqlakarta{
	max-width: 100%;
    margin-left: 0px;
    margin-right: 0px;
	margin-top: 30px;
    margin-bottom: 30px;
	
	transition:transform 0.25s ease;
}

.modal_img{
	max-width: 100%;
    margin-left: 0px;
    margin-right: 0px;
	margin-top: 30px;
    margin-bottom: 30px;
	
	transition:transform 0.25s ease;
}

.modal .overlay~*{
    border:0;
    position:fixed;
    top:50%;
    left:50%;
    transform:translateX(-50%) translateY(-50%) scale(0.1, 0.1);
    z-index:1000000;
    transition:all .3s
}

.click-zoom input[type=checkbox] {
	display: none;
}

.click-zoom img {
	transition: transform 0.25s ease;
	cursor: zoom-in;
}

.click-zoom input[type=checkbox]:checked~img {
	transform: scale(2);
	cursor: zoom-out;
}

.gallery {
    margin-top: 50px;
}

div.gallery img {
    max-width: 100%;
    margin-left: 0px;
    margin-right: 0px;
	margin-top: 30px;
}
