@font-face {
    font-family: Onest;
    src: url(fonts/OnestRegular1602-hint.woff);
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}
body {
    font-family: Onest;
    /*background-color: #94ffef;*/
}
header nav {
    background-color: #5abfb0;
}

/*класове извън picnic.css*/
#gallerySideNavBar button {
    display: none; 
    position: fixed; 
    background-color: red;
    width: 18%;
    text-align: right;
}

#galleryNavBar {
    width: 100%;
}

div.gallery {
    margin-top: 228px;
}

div.gallery img {
    width: auto;
    height:600px;
    margin-left: 50px;
    margin-right: 20px;
    margin-bottom: 30px;
}

.vgheaderwrapper {
    text-align:center;
    font-size:32px;
    background-color:lightgray;/*ще е с този цвят временно*/
}

.vgparagraph {
    margin:auto;
    width:80%;
    text-align:center;
}

.vgparagraph p {
    font-size:24px;
}

.stt {
    display: none; 
    position: fixed;
    background-color: red; 
    bottom: 220px; 
    right: 30px;
}
